# exclude everything except directory foo/bar
RCT/venv/*
RCT/.idea/*
CV/venv/*
CV/.idea/*
CV/images/temp/*
data_analysis/venv/*
data_analysis/.idea/*
data_analysis/seaborn-*
Python/intermediate/venv/*
RCT/EVA/*
kdabtv/*
.idea/*
.idea
*.caffemodel